
.main-container { 
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
}

.custom-flex { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-container { 
  display: flex;
  justify-content: space-between;
  width:60%;
  margin-top: 1.2rem;
  margin-left: auto;
  margin-right: auto;
}

.btn { 
  padding: 0.8rem;
  border-radius: 10px;
  background-color: red;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  width: 200px;
  cursor: pointer;
  transition: border-color 0.25s;
}

.sm-btn { 
  width: 100px !important;
}
.btn-danger { 
  background-color: red !important;
}
.btn:hover { 
  border: 1px solid grey;
  
}
.cancel-btn:hover { 
  background-color: lightcoral;
}
.next-btn { 
  background-color: green;
  color: white;
}
.next-btn:hover{ 
background-color: lightgreen;
}
.hr { 
  width: 50%;
  color: blue;
  margin-top: 10px;
  margin-bottom: 10px;
}
a { 
  text-decoration: none;
}
a:hover{ 
  text-decoration: underline;
  cursor: pointer;
}
.solo-btn { 
  display: flex;
  justify-content: center;
}
.otherLinks { 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.input-error-message { 
  color: red;
  padding:2.5px;
}

.banner-img { 
  width: 200px;
  height: 300px;
  
}

.nav { 
  /* background-color: #000000; */
  display: grid;
  grid-template-columns: repeat(3,33%);
  grid-column-gap: 1rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;

  a { 
    text-decoration: none;
    /* color: #0000; */
  }

  img { 
    width: 50px;
    height: 50px;
    color: green;
  }

  .nav-items { 
    justify-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav-flex { 
    display: flex;
    flex-direction: row;
  }
  .navLinkList { 
    margin-left: 10px; 
    text-decoration: none;
    color: yellow;
    
  }

  .navLinkList:hover { 
    text-decoration: underline;
    color: aquamarine;
  }
}

.dashboard { 
  min-height: 75vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.footer { 
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  padding: 3rem;
  color: green;
  text-align: center;

  .socials { 
    display: flex;
    flex-direction: column;
  }

  ul { 
    list-style: none;
  } 
  li { 
    margin-left: 10px;
  }
}



.grid-container { 
  display: grid;
  grid-template-columns: repeat(2, 45%);
  gap: 5%;
}

.new-job { 
  min-height: 75vh;
  padding: 2rem;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;

  .btn {
    display: flex;
    justify-self: center;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
  }
  

}


.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto 6rem auto;
  width: 90%;
  align-items: center;

  min-height: 75vh;
}
table {
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
}
td , th { 
    border: 1px solid #dddddd;
    text-align: center;
    padding: 1rem;
}
td { 
  vertical-align: middle;
  padding: 1.2rem !important;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.select-box{ 
  padding: 1rem;
  width: 100px;
  border-radius: 1%;
  background-color: #f6f6f6f6;
}

.loader-class { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}